.button{
    padding: 10px 50px;
    margin: 15px;
}

body{
    padding: 50px;
    background-image: url("https://images.pexels.com/photos/415078/pexels-photo-415078.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}
