<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>BookStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-4">
        <ul class="nav nav-pills p-2">
            <li class="nav-item p-2">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item p-2">
                <a href="/store" class="nav-link active">Store</a>
            </li>
            <li class="nav-item p-2">
                <a href="/contactus" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item p-2">
                <a href="/aboutus" class="nav-link">About Us</a>
            </li>
            <li class="nav-item p-2 text-white" style="margin-left: 600px;">
                <a href="/cart" class="nav-link text-white bg-success">cart</a>
            </li>
            <li class="nav-item p-2 text-white ">
                <a href="/logout" class="nav-link text-white bg-danger">Logout</a>
            </li>
        </ul>
    </div>


    <div class="container">
        <div class="row">
            <div class="col m-2">
                <div class="card p-3" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/3774941/pexels-photo-3774941.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top "  style="height: 250px; " alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <div><span style="font-weight: 700;">Book Name :</span> Intro to Python</div>
                            <div><span style="font-weight: 700;">Book Author :</span> Dhruv Patel</div>
                            <div><span style="font-weight: 700;">Book Prize :</span> 500Rs</div>
                        </p>
                        <button class="btn btn-info ">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col m-2">
                <div class="card p-3" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top " style="height: 250px; " alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <div><span style="font-weight: 700;">Book Name :</span> Intro to Python</div>
                            <div><span style="font-weight: 700;">Book Author :</span> Dhruv Patel</div>
                            <div><span style="font-weight: 700;">Book Prize :</span> 500Rs</div>
                        </p>
                        <button class="btn btn-info ">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col m-2">
                <div class="card p-3" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/3747266/pexels-photo-3747266.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top " style="height: 250px; " alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <div><span style="font-weight: 700;">Book Name :</span> Intro to Python</div>
                            <div><span style="font-weight: 700;">Book Author :</span> Dhruv Patel</div>
                            <div><span style="font-weight: 700;">Book Prize :</span> 500Rs</div>
                        </p>
                        <button class="btn btn-info ">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col m-2">
                <div class="card p-3" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/3747309/pexels-photo-3747309.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top " style="height: 250px; " alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <div><span style="font-weight: 700;">Book Name :</span> Intro to Python</div>
                            <div><span style="font-weight: 700;">Book Author :</span> Dhruv Patel</div>
                            <div><span style="font-weight: 700;">Book Prize :</span> 500Rs</div>
                        </p>
                        <button class="btn btn-info ">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>